/*  
   Index PAGE
*/

body {
  font-family: 'Montserrat', sans-serif;
}

button {
  background-color: black;
}

.nav-container {
  padding-right: 15px;
  padding-left: 15px;
}

.logo {
  width: 100px;
}

.logo img {
  width: 100%;
}

.text-dark {
  color: var(--clemo-serviceText) !important;
}

.text-dark:hover {
  font-weight: 600;
}

.active-link {
  position: relative;
  color: black !important;
  font-weight: 600;
  padding-bottom: 5px;
}

.active-link::after {
  content: '';
  position: absolute;
  left: 13px;
  bottom: 0;
  height: 2px;
  width: 20px;
  background: black;
}

.jumbotron-title {
  text-transform: lowercase;
  font-size: clamp(36px, 5vw, 50px);
  position: relative;
  padding-bottom: 20px;
}

.jumbotron-title span {
  font-size: clamp(58px, 5vw, 72px);
}

.team-title::after,
.jumbotron-title::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  bottom: 0;
  height: 2px;
  width: 60px;
  background: black;
}

.jumbotron-subtitle {
  font-size: clamp(16px, 5vw, 24px);
  text-align: center;
  font-weight: 200;
  text-transform: lowercase;
}

.btn-custom {
  border: none;
  width: 170px;
  height: 50px;
  padding-top: 13px;
  border-radius: 40px;
  text-transform: lowercase;
  font-weight: 400;
}

.btn-black {
  background-color: black;
  color: white;
  border: 1px solid black;
}

.btn-white {
  background-color: white;
  color: black;
  border: 1px solid rgba(0, 0, 0, 1);
}

.btn-white:hover,
.btn-black:hover {
  background: var(--clemo-primary);
  color: black;
  border: 1px solid rgba(0, 0, 0, 1);
}

.section-title {
  font-weight: 100;
  text-transform: lowercase;
  font-weight: clamp(50px, 5vw, 60px);
}

.blog-title,
.thin-title,
.work-title,
.about-title {
  text-transform: lowercase;
}

.blog-title,
.work-title {
  padding-bottom: 20px;
  font-size: clamp(40px, 5vw, 48px);
  font-weight: 800;
  position: relative;
}

.thin-title {
  font-size: clamp(28px, 5vw, 36px);
  font-weight: 300;
  margin-bottom: -12px;
}

.blog-title::after,
.work-title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 60px;
  background: black;
}

.blog-title {
  padding-bottom: 40px;
  line-height: 1.3;
}

.blog-title span {
  font-size: clamp(12px, 5vw, 18px);
  font-weight: 400;
  display: block;
  margin: 5px 0 5px;
}

.about-description,
.work-description {
  color: var(--clemo-serviceText);
  font-size: clamp(14px, 5vw, 18px);
}

.portfolio-piece {
  filter: grayscale(1);
  transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.portfolio-piece:hover {
  filter: grayscale(0);
}

.featured-title,
.team-title {
  position: relative;
  padding-bottom: 20px;
  text-transform: lowercase;
  font-size: 700;
  font-size: clamp(28px, 5vw, 36px);
  text-align: center;
}

.team p {
  text-transform: lowercase;
  font-weight: 500;
}

.gallery-top {
  height: 80%;
  width: 100%;
}

.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
  height: 100%;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.4;
}

.gallery-item {
  position: relative;
}

.gallery-item .img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  margin: auto;
  width: 150px;
  height: 120px;
  opacity: 0;
  padding: 15px 0 10px;
  background-color: var(--clemo-primary);
  transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.gallery-item:hover .img-overlay {
  opacity: 1;
}

.gallery-item .img-overlay .featured-title {
  color: black;
  font-size: clamp(14px, 5vw, 18px);
  text-align: center;
  padding-bottom: 12px;
}

.gallery-item .img-overlay p {
  color: black;
  font-size: clamp(12px, 5vw, 14px);
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  text-transform: lowercase;
  margin: 0;
}

.gallery-item .img-overlay .featured-title::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  bottom: 0;
  height: 2px;
  width: 50px;
  background: black;
}

.swiper-container-thumbs {
  margin-top: -90px;
}

.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.carousel-control-prev-icon-custom,
.carousel-control-next-icon-custom {
  align-self: flex-start;
  margin-top: 80px;
}

.swiper-pagination {
  display: none;
}

.testimonial-name,
.testimonial-title {
  text-transform: lowercase;
}

.testimonial-name {
  position: relative;
  padding-bottom: 30px;
}

.testimonial-name::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 60px;
  background: black;
}

.testimonial-entry {
  font-size: clamp(14px, 5vw, 18px);
  color: var(--clemo-contentText);
  min-height: 150px;
}

.contact {
  color: white;
}

.social-icons {
  display: flex;
  width: 320px;
  justify-content: space-around;
}

.contact-icon {
  background-color: white;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
}

.contact-dark {
  background-color: black;
  color: white;
}

.contact-icon:hover {
  background-color: var(--clemo-primary);
  color: white;
}

.form-control-custom {
  border: 0;
  border-bottom: 1px solid rgba(116, 132, 148, 0.5);
  text-transform: lowercase;
}

.phone,
.email,
.address {
  display: flex;
}

/*  
   ABOUT PAGE
*/

.about-description p:first-child {
  position: relative;
  padding-top: 10px;
}

.about-description p:first-child::after {
  content: '';
  position: absolute;
  left: 0;
  top: -55px;
  height: 2px;
  width: 60px;
  background: black;
}

.about-title {
  font-size: clamp(36px, 5vw, 40px);
  font-weight: 700;
  position: relative;
  margin-top: 50px;
  padding-top: 30px;
}

.about-title::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 2px;
  width: 60px;
  background: black;
}

.stats h3 {
  position: relative;
  font-size: clamp(36px, 5vw, 40px);
  font-weight: 700;
  padding-bottom: 10px;
}

.stats h3::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  bottom: 0;
  height: 2px;
  width: 50px;
  background: black;
}

.stats p {
  text-transform: lowercase;
  font-weight: 200;
}

/* 
    Service
*/
.pricing-cta h3 span,
.pricing-cta p {
  font-size: clamp(24px, 5vw, 30px);
  font-weight: 200;
  text-transform: lowercase;
}

.pricing-cta h3 {
  font-size: clamp(30px, 5vw, 40px);
  font-weight: 700;
  text-transform: lowercase;
  position: relative;
  padding-top: 50px;
}

.pricing-cta h3 span {
  color: var(--clemo-contentText);
}

.pricing-cta h3::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  height: 2px;
  width: 50px;
  background: white;
}

.filter {
  text-transform: lowercase;
}

.filter-active {
  font-weight: 600;
}

.featured-title {
  text-align: left;
}
.featured-title a {
  text-decoration: none;
  color: black;
}

.featured-title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 60px;
  background: black;
}

.contact-light {
  background-color: white;
  color: black;
}

.contact-light .form-control-custom {
  background: transparent;
  border-color: black;
}

.contact-light form {
  margin-top: -10px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .logo {
    width: 125px;
  }

  .about-headline {
    padding-left: 50px;
  }

  .pricing-cta p {
    text-align: right;
  }

  .pricing-cta h3 {
    padding-top: 0;
    padding-left: 50px;
  }

  .pricing-cta h3::before {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }

  .swiper-container-thumbs {
    margin-top: -100px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .logo {
    width: 150px;
  }
  .swiper-pagination {
    display: flex;
    bottom: -40px;
  }

  .swiper-pagination .swiper-pagination-bullet {
    background-color: transparent;
    border: 1px solid black;
    width: 8px;
    height: 8px;
  }

  #slider-gallery-thumb .swiper-pagination {
    bottom: 10px;
  }

  .carousel-control-prev.carousel-outside-custom {
    left: -20px;
  }
  .carousel-control-next.carousel-outside-custom {
    right: -20px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
