body {
  font-family: 'Montserrat', sans-serif;
}

button {
  background-color: black;
}

.logo {
  font-size: clamp(28px, 5vw, 36px);
}

.logo span {
  font-size: clamp(42px, 5vw, 50px);
}

.text-dark {
  color: var(--clemo-serviceText) !important;
}

.jumbotron-title {
  text-transform: lowercase;
  font-size: clamp(36px, 5vw, 50px);
  position: relative;
  padding-bottom: 20px;
}

.jumbotron-title span {
  font-size: clamp(58px, 5vw, 72px);
}

.team-title::after,
.jumbotron-title::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  bottom: 0;
  height: 2px;
  width: 60px;

  background: black;
}

.jumbotron-subtitle {
  font-size: clamp(16px, 5vw, 24px);
  text-align: center;
  font-weight: 200;
  text-transform: lowercase;
}

.btn-custom {
  border: none;
  width: 170px;
  height: 50px;
  border-radius: 40px;
  text-transform: lowercase;
  font-weight: 400;
}

.btn-black {
  background-color: black;
  color: white;
}

.btn-black:hover {
  background: var(--clemo-serviceText);
  color: white;
}

.btn-white {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.btn-white:hover {
  opacity: 0.75;
  border: 1px solid var(--clemo-serviceText);
  color: white;
  background-color: var(--clemo-serviceText);
}

.section-title {
  font-weight: 100;
  text-transform: lowercase;
  font-weight: clamp(50px, 5vw, 60px);
}

.thin-title,
.work-title {
  text-transform: lowercase;
}

.work-title {
  padding-bottom: 20px;
  font-size: clamp(40px, 5vw, 48px);
  font-weight: 700;
  position: relative;
}

.thin-title {
  font-size: clamp(28px, 5vw, 36px);
  font-weight: 300;
  margin-bottom: -12px;
}

.work-title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 60px;
  background: black;
}

.work-description {
  color: var(--clemo-serviceText);
  font-size: clamp(14px, 5vw, 18px);
}

.team-title {
  position: relative;
  padding-bottom: 20px;
  text-transform: lowercase;
  font-size: 700;
  font-size: clamp(28px, 5vw, 36px);
  text-align: center;
}

.gallery-top {
  height: 80%;
  width: 100%;
}

.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
  height: 100%;
  opacity: 0.4;
}

.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.carousel-control-prev-icon-custom,
.carousel-control-next-icon-custom {
  align-self: flex-start;
  margin-top: 80px;
}

.swiper-pagination {
  display: none;
}

.testimonial-name,
.testimonial-title {
  text-transform: lowercase;
}

.testimonial-name {
  position: relative;
  padding-bottom: 30px;
}

.testimonial-name::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 60px;
  background: black;
}

.testimonial-entry {
  font-size: clamp(14px, 5vw, 18px);
  color: var(--clemo-contentText);
}

.contact {
  color: white;
}

.social-icons {
  display: flex;
  width: 320px;
  justify-content: space-around;
}

.contact-icon {
  background-color: white;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
}

.contact-icon:hover {
  background-color: var(--clemo-serviceText);
  color: white;
}

.form-control-custom {
  border: 0;
  border-bottom: 1px solid rgba(116, 132, 148, 0.5);
  text-transform: lowercase;
}

.phone,
.email,
.address {
  display: flex;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .swiper-pagination {
    display: flex;
    bottom: -40px;
  }

  .swiper-pagination .swiper-pagination-bullet {
    background-color: transparent;
    border: 1px solid black;
    width: 8px;
    height: 8px;
  }

  #slider-gallery-thumb .swiper-pagination {
    bottom: 10px;
  }

  .carousel-control-prev.carousel-outside-custom {
    left: -20px;
  }
  .carousel-control-next.carousel-outside-custom {
    right: -20px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
